<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head%>
  </head>

  <body>
    <% include partials/_nav %>
    <div class="jumbotron">
      <div class="container">
        <% if(array.length === 0){ %>
        <h2>Looks like there's nothing here!</h2>
        <a href="/snacks">
          <p>An empty basket is a sad basket.
            <br>Click here to start adding some snacks to your basket.
            <br><br>
          </p>
        </a>
        <% } else { %>
        <h2> Welcome to your basket </h2>
        <p>
          Have a look at the snacks you have already added.
          <br><br><br>
        </p>
        <% }%>
        <% include partials/_register_prompt %>

       <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <!-- Bgin product template -->
     <section class="products">
        <% snacks.forEach(function(elm, counter){ %>
          <div class="product-card">
            <div class="product-image">
              <img src="snack_images/<%= elm['img-filename']%>" alt="picture">
            </div>
            <div class="product-info">
              <h4> <%= elm.name%> </h4>
              <h6>
                Quantity:
                <input id="<%=elm.id%>" type="number"
                       value="<%= Number(obj[array[counter]]) %>" class="qty"
                       min="1"/>
              </h6>
              <h6>Price per 100 grams:
                <span class="price">$<%= elm["price-per-100g"]/100 %> </span>
              </h6>
              <h6>Total: $
               <span class="product-total">
                  <%=Number(obj[array[counter]])*elm["price-per-100g"]/100 %>
               </span>
              </h6>
              <button  class="add-quantity"> Add Quantity</button>
              <button  class="reduce-quantity"> Reduce Quantity</button>
            </div>
          </div>
            <% }) %>
        </section>
        <!-- End product template -->
        <div>
          <h3>
            Sub-Total:
          </h3>
          <h2>
            Total:
          </h2>

<<<<<<< HEAD
        </div>
=======
      <hr>
    <% include partials/_scripts %>
>>>>>>> 3446d392e29cbc001df891bb683c8ae6693766ce
    <% include partials/_footer %>
    </div> <!-- /container -->



    <script src="scripts/basketscripts.js"></script>
  </body>
</html>
